
{
  "DueDate": "2025-03-31",
  "VendorAddr": {
    "Id": "40",
    "Line1": "4528 Country Road",
    "City": "Middlefield",
    "CountrySubDivisionCode": "CA",
    "PostalCode": "94303",
    "Lat": "37.3752919",
    "Long": "-122.1692159"
  },
  "Balance": 205.0,
  "domain": "QBO",
  "sparse": false,
  "Id": "126",
  "SyncToken": "0",
  "MetaData": {
    "CreateTime": "2025-03-31T13:10:36-07:00",
    "LastModifiedByRef": {
      "value": "9341454578080981"
    },
    "LastUpdatedTime": "2025-03-31T13:10:36-07:00"
  },
  "TxnDate": "2025-03-31",
  "CurrencyRef": {
    "value": "USD",
    "name": "United States Dollar"
  },
  "Line": [
    {
      "Id": "1",
      "LineNum": 1,
      "Description": "Fountain Pump",
      "Amount": 80.0,
      "LinkedTxn": [],
      "DetailType": "ItemBasedExpenseLineDetail",
      "ItemBasedExpenseLineDetail": {
        "BillableStatus": "NotBillable",
        "ItemRef": {
          "value": "11",
          "name": "Pump"
        },
        "UnitPrice": 10,
        "Qty": 8,
        "TaxCodeRef": {
          "value": "NON"
        }
      }
    },
    {
      "Id": "2",
      "LineNum": 2,
      "Description": "Rock Fountain",
      "Amount": 125.0,
      "LinkedTxn": [],
      "DetailType": "ItemBasedExpenseLineDetail",
      "ItemBasedExpenseLineDetail": {
        "BillableStatus": "NotBillable",
        "ItemRef": {
          "value": "5",
          "name": "Rock Fountain"
        },
        "UnitPrice": 125,
        "Qty": 1,
        "TaxCodeRef": {
          "value": "NON"
        }
      }
    }
  ],
  "VendorRef": {
    "value": "46",
    "name": "Norton Lumber and Building Materials"
  },
  "APAccountRef": {
    "value": "33",
    "name": "Accounts Payable (A/P)"
  },
  "TotalAmt": 205.0
}




1. No of data by the requirement
2. Pre table is required
3. Multiple tables are required